@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/FEDA00.jpg");
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#fff;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.356);
  }
  .nav-link,
  .navbar-brand {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: PT Sans Caption;
    font-weight: 500;
    font-size: 30px;
  }

  .toplogo img {
    height : 45%;
    width : 45%;
}

  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: rgb(216, 169, 15);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

.osnova{
    background-color:rgba(255, 255, 255, 0.90);
    width: 1024px;
    height: 1024px;
    margin-top: 50px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.356);
    margin: 0 auto;
    margin-top: 25px;
    
}

.zagol{
    
    text-align: center;
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    padding-top: 10px;
}


.novost{
    position: relative;
    width: 750px;
    height: 450px;
    left: 135px;
    padding-top: 25px;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.356)
}

#zagol{
    position: relative;
    margin:0 auto;
    margin-top: -25px;

    width: 746px;
    border: 1px solid black;
    height: 100px;
    text-align: center;

font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  overflow: auto;
  outline: none;
}

.text{
    position: inherit;
    height: 346px;
    width: 746px;
    resize: none;
    padding: 10px;
    font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  box-sizing: border-box;
  outline: none;  
}

#post{
    position: relative;
    top: 50px;
    left:735px;
    width: 150px;



    background-color: #FEDA00;
  font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bolder;
    font-size: 21px;
    padding: 5px;
    text-align: center;
    padding: 1px; 

    outline: none;

    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.356)

}